server:
  port: 9000

spring:
  application:
    name: auth-service
  security:
    oauth2:
      authorizationserver:
        issuer-uri: http://auth-service:9000

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
