apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  labels:
    app: api-gateway
data:
  SERVER_PORT: "8080"
  EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8761/eureka/"
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_CLIENT_PROVIDER_AUTHSERVER_ISSUERURI: "http://auth-service:9000"
  SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_CLIENT_REDIRECTURI: "http://api-gateway:8080/login/oauth2/code/client"
